#header {
  min-width: 320px;
  width: 100%;
  height: 60px;
  background-color: var(--gray-5);
  position: relative;
  z-index: 3;
  .italy {
    width: 100%;
    position: absolute;
    top: 60px;
    background-color: white;
    border-top: var(--red) 6px solid;
    border-bottom: var(--green) 6px solid;
    height: 18px;
    margin: 0px;
  }
  .logo {
    position: absolute;
    transition: all 1s ease-in-out;
    width: 72px;
    top: 15px;
    right: calc(50vw - 36px);
    z-index: 5;
  }
  .menu {
    transition: right 0.5s ease-in-out;
    width: 300px;
    height: 100vh;
    padding-bottom: 50px;
    background-color: var(--gray-7);
    position: fixed;
    right: -300px;
    top: 0;
    z-index: 4;
    flex-direction: column;
    justify-content: space-between;
    hr {
      border-color: var(--black-10);
      width: 100%;
      margin: 0;
      border-bottom: none;
    }
    &.logged {
      nav {
        ul {
          li {
            &.divider {
              display: flex;
            }
            &.hide-guest {
              display: flex;
            }
          }
        }
      }
      .footer {
        > div {
          display: flex;
        }
        .btn-register {
          display: none;
        }
      }
    }
    nav {
      flex-direction: column;
      ul {
        margin: 0;
        padding: 0;
        margin-top: 249px;
        width: 100;
        flex-direction: column;
        li {
          padding: 14px 0;
          list-style: none;
          justify-content: center;
          a {
            text-decoration: none;
            color: var(--gray-0);
          }
          &.hide-guest,
          &.divider {
            display: none;
          }
          hr {
            margin: 15px 0;
          }
        }
      }
    }
    .footer {
      flex-direction: column;
      align-items: center;
      width: 100%;
      > div {
        display: none;
        padding: 15px;
        align-items: center;
        width: 100%;
        picture {
          margin-right: 10px;
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
        }
        > div {
          flex-direction: column;
          flex: 1;
          padding: 30px;
        }
        a {
          text-decoration: none;
          color: var(--dark-0);
          font-size: 16px;
          small {
            text-decoration: none;
            font-size: 12px;
            color: var(--gray-2);
          }
        }
      }
    }
    .btn-register {
      margin: 20px;
      width: calc(300px - 40px);
      @include button;
      @include button-green;
    }
  }
  button {
    background: none;
    border: none;
    outline: none;
    padding: 13px;
  }
  #btn-open,
  #btn-close {
    position: absolute;
    right: 0;
  }
}
#main {
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
.open-menu {
  overflow: hidden;
  #header {
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vh;
      height: 100vh;
      background-color: var(--dark-1);
      z-index: 4;
    }
    .menu {
      right: 0;
    }
    .logo {
      right: 87px;
      width: 120px;
    }
  }
}

@media (min-width: 993px) {
  .open-menu {
    overflow: initial;
    #header {
      .overlay {
        display: none;
      }
      .logo {
        right: calc(100vw - 150px);
        width: 100px;
        top: 17px;
      }
    }
  }
  #header {
    height: 100px;
    width: 100%;
    .italy {
      top: 100px;
    }
    .logo {
      right: calc(100vw - 150px);
      width: 100px;
      top: 17px;
    }
    .menu {
      flex-direction: row;
      justify-content: space-between;
      background-color: initial;
      width: 100%;
      height: 100px;
      align-items: center;
      right: initial;
      position: static;
      margin-left: 150px;
      padding-bottom: 0;
      .btn-register {
        width: 200px;
        margin-right: 30px;
      }
      nav {
        width: 100%;
        ul {
          flex-direction: row;
          margin-top: 0;
          justify-content: flex-start;
          align-items: center;
          li {
            a {
              padding: 0;
              margin: 10px;
              font-size: 18px;
              min-width: 120px;
              text-align: center;
              &.hover {
                color: var(--black);
              }
            }
          }
        }
      }
      .footer {
        width: initial;
        justify-content: center;
        hr {
          display: none;
        }
      }
    }
    #btn-open,
    #btn-close {
      display: none;
    }
  }
}
#main {
  img {
    width: 100%;
    height: 100%;
  }
}
