@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,300;1,400;1,700&family=Teko&display=swap");
:root {
  --bg-color: white;
  --white:#fff;
  --black: #000;
  --black-hover: #111;
  --black-active: #222;
  --black-10: #0000001a;
  --black-75: #000000bf;
  --dark-0: #333;
  --dark-1: #000000BF;
  --gray: #79756C;
  --gray-0:#707070;
  --gray-1:#7E7E7E;
  --gray-2:#9A9A99;
  --gray-3:#CCC;
  --gray-4:#000029;
  --gray-5:#E5E3DF;
  --gray-6:#F8F8F8;
  --gray-7:#E5E3DF;
  --gray-8:#DDD;
  --gray-9:#999;
  --gray-10:#EEE;
  --gray-11:#444;
  --gray-12:#E8E8E8;
  --red: #E32119;
  --red-hover: #E4423B;
  --red-active:#C91D16;
  --green:#00994D;
  --green-hover:#00BE60;
  --green-active: #00773C;
  --blue: #00A0E6;
  --blue-hover: #1CABE9;
  --blue-active:#199BD4;
  --success: #d4edda;
  --success-boder:#C3E6CB;
  --success-color:#155724;
  --danger: #F8D7DA;
  --danger-boder:#F5C6CB;
  --danger-color:#721C24;
  --space: 20px;
  --radius: 5px;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Open Sans", "Teko", "Nothing you could do";
  font-size: normal;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

body, div, article, aside, footer, section, header, main, nav, ul, ol, li, button, figure, picture, hr, menu {
  display: flex;
}

body {
  margin: 0;
  flex-direction: column;
  background-color: var(--white);
}
body > main {
  width: 100vh;
  height: calc(100vh - 400px);
}

#hr.divider {
  background-color: var(--gray-3);
  height: 1px;
  width: calc(100% - 2em);
  margin: 3em 0;
  border: none;
  align-self: center;
}

@media (min-width: 1200px) {
  body > main {
    min-height: calc(100vh - 350px);
  }
}
.toast {
  position: relative;
  width: 100%;
  height: 80px;
  padding: var(--space);
  align-items: center;
  border: 1px solid transparent;
  transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.toast .close {
  position: absolute;
  top: 15px;
  right: 25px;
  background: none;
  border: none;
  outline: none;
  font-size: 32px;
  transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
  color: var(--black-50);
}
.toast .close.hover {
  color: black;
}
.toast.success {
  color: var(--success-color);
  background-color: var(--success);
  border: var(--success-boder);
}
.toast.danger {
  color: var(--danger-color);
  background-color: var(--danger);
  border: var(--danger-boder);
}

form {
  flex-direction: column;
  width: 100%;
  padding: 0 var(--space);
}
form .fields {
  flex-direction: column;
}
form .field {
  position: relative;
  flex-direction: column;
  width: 100%;
  margin-bottom: var(--space);
}
form .field label {
  color: var(--gray-3);
  font-size: 14px;
  position: absolute;
  top: 10px;
  left: 10px;
  transition: color 0.3 ease-in-out;
  z-index: 2;
}
form .field input, form .field textarea, form .field select {
  border: var(--gray-3) 1px solid;
  line-height: 1.5em;
  padding: 10px;
  padding-top: 33px;
  font-size: 16px;
  color: var(--dark-0);
  outline: none;
  border-radius: var(--radius);
  position: relative;
  top: 0px;
  z-index: 1;
  transition: border-color 0.3 ease-in-out;
  width: 100%;
}
form .field input:focus, form .field textarea:focus, form .field select:focus {
  border-color: var(--green);
}
form .field input:focus + label, form .field textarea:focus + label, form .field select:focus + label {
  color: var(--green);
}
form .field input:focus[readonly], form .field textarea:focus[readonly], form .field select:focus[readonly] {
  border: none;
  color: var(--black);
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 0;
}
form .field input:focus[readonly] + label, form .field textarea:focus[readonly] + label, form .field select:focus[readonly] + label {
  color: var(--gray-0);
  text-transform: uppercase;
}
form .field button {
  min-width: 130px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--gray-5);
  font-weight: bold;
  font-size: 16px;
  border-radius: var(--radius);
  text-transform: uppercase;
  background-color: gray;
  color: var(--white);
  background-color: var(--green);
}
form .field button:hover {
  background-color: var(--black-10);
}
form .field button:active {
  background-color: var(--black-75);
}
form .field button:hover {
  background-color: var(--green-hover);
}
form .field button:active {
  background-color: var(--green-active);
}

@media (min-width: 1200px) {
  form {
    max-width: 400px;
  }
  form .fields {
    flex-direction: row;
    justify-content: space-between;
  }
  form .fields .field {
    margin-right: var(--space);
  }
  form .fields .field:last-child {
    margin-right: 0;
  }
  form .fields .field textarea {
    min-height: 250px;
  }
  form button {
    max-width: 340px;
  }
}
header.page-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
header.page-title h1, header.page-title h2, header.page-title h3, header.page-title h4, header.page-title h5, header.page-title h6 {
  color: var(--green);
  margin: 0;
  font-size: 32px;
  font-weight: 600;
}
header.page-title hr {
  width: 68px;
  border: none;
  border-top: 4px solid var(--red);
  margin: 10px 0;
}

.page {
  flex-direction: column;
  height: calc(100vh - 140px);
  overflow: auto;
  margin-top: 18px;
}
.page .page-title {
  margin: var(--space);
  width: calc(100% - 40px);
}
.page > header {
  width: 100%;
  min-height: 130px;
  background-color: var(--black);
  color: var(--white);
  justify-content: center;
  align-items: center;
}
.page > header h1 {
  font-size: 23px;
  font-weight: bold;
  text-transform: uppercase;
}
.page > main {
  flex-direction: column;
  margin-bottom: 80px;
}
.page > main .toast {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3;
}
.page > main .toast.open {
  transform: translateY(-80px);
}
.page footer.fixed {
  position: fixed;
  width: 100%;
  height: 80px;
  bottom: 0;
  background-color: var(--gray-12);
  justify-content: space-between;
  align-items: center;
  padding: var(--space);
  left: 0;
  z-index: 4;
}
.page footer.fixed button, .page footer.fixed a {
  min-width: 130px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--gray-5);
  font-weight: bold;
  font-size: 16px;
  border-radius: var(--radius);
  text-transform: uppercase;
  background-color: gray;
  color: var(--gray-3);
  background-color: var(--gray-0);
  color: var(--white);
}
.page footer.fixed button:hover, .page footer.fixed a:hover {
  background-color: var(--black-10);
}
.page footer.fixed button:active, .page footer.fixed a:active {
  background-color: var(--black-75);
}
.page footer.fixed button:hover, .page footer.fixed a:hover {
  background-color: var(-gray-hover);
}
.page footer.fixed button:active, .page footer.fixed a:active {
  background-color: var(--gray-active);
}
.page footer.fixed button[type=submit] {
  min-width: 130px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--gray-5);
  font-weight: bold;
  font-size: 16px;
  border-radius: var(--radius);
  text-transform: uppercase;
  background-color: gray;
  color: var(--white);
  background-color: var(--black);
}
.page footer.fixed button[type=submit]:hover {
  background-color: var(--black-10);
}
.page footer.fixed button[type=submit]:active {
  background-color: var(--black-75);
}
.page footer.fixed button[type=submit]:hover {
  background-color: var(-black-hover);
}
.page footer.fixed button[type=submit]:active {
  background-color: var(--black-active);
}

@media (min-width: 1200px) {
  .page > header {
    justify-content: flex-start;
    padding-left: 185px;
    min-height: 160px;
  }
  .page > header h1 {
    font-size: 32px;
  }
}
#header {
  min-width: 320px;
  width: 100%;
  height: 60px;
  background-color: var(--gray-5);
  position: relative;
  z-index: 3;
}
#header .italy {
  width: 100%;
  position: absolute;
  top: 60px;
  background-color: white;
  border-top: var(--red) 6px solid;
  border-bottom: var(--green) 6px solid;
  height: 18px;
  margin: 0px;
}
#header .logo {
  position: absolute;
  transition: all 1s ease-in-out;
  width: 72px;
  top: 15px;
  right: calc(50vw - 36px);
  z-index: 5;
}
#header .menu {
  transition: right 0.5s ease-in-out;
  width: 300px;
  height: 100vh;
  padding-bottom: 50px;
  background-color: var(--gray-7);
  position: fixed;
  right: -300px;
  top: 0;
  z-index: 4;
  flex-direction: column;
  justify-content: space-between;
}
#header .menu hr {
  border-color: var(--black-10);
  width: 100%;
  margin: 0;
  border-bottom: none;
}
#header .menu.logged nav ul li.divider {
  display: flex;
}
#header .menu.logged nav ul li.hide-guest {
  display: flex;
}
#header .menu.logged .footer > div {
  display: flex;
}
#header .menu.logged .footer .btn-register {
  display: none;
}
#header .menu nav {
  flex-direction: column;
}
#header .menu nav ul {
  margin: 0;
  padding: 0;
  margin-top: 249px;
  flex-direction: column;
}
#header .menu nav ul li {
  padding: 14px 0;
  list-style: none;
  justify-content: center;
}
#header .menu nav ul li a {
  text-decoration: none;
  color: var(--gray-0);
}
#header .menu nav ul li.hide-guest, #header .menu nav ul li.divider {
  display: none;
}
#header .menu nav ul li hr {
  margin: 15px 0;
}
#header .menu .footer {
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#header .menu .footer > div {
  display: none;
  padding: 15px;
  align-items: center;
  width: 100%;
}
#header .menu .footer > div picture {
  margin-right: 10px;
}
#header .menu .footer > div picture img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#header .menu .footer > div > div {
  flex-direction: column;
  flex: 1;
  padding: 30px;
}
#header .menu .footer > div a {
  text-decoration: none;
  color: var(--dark-0);
  font-size: 16px;
}
#header .menu .footer > div a small {
  text-decoration: none;
  font-size: 12px;
  color: var(--gray-2);
}
#header .menu .btn-register {
  margin: 20px;
  width: 260px;
  min-width: 130px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--gray-5);
  font-weight: bold;
  font-size: 16px;
  border-radius: var(--radius);
  text-transform: uppercase;
  background-color: gray;
  min-width: 130px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--gray-5);
  font-weight: bold;
  font-size: 16px;
  border-radius: var(--radius);
  text-transform: uppercase;
  background-color: gray;
  color: var(--white);
  background-color: var(--green);
}
#header .menu .btn-register:hover {
  background-color: var(--black-10);
}
#header .menu .btn-register:active {
  background-color: var(--black-75);
}
#header .menu .btn-register:hover {
  background-color: var(--black-10);
}
#header .menu .btn-register:active {
  background-color: var(--black-75);
}
#header .menu .btn-register:hover {
  background-color: var(--green-hover);
}
#header .menu .btn-register:active {
  background-color: var(--green-active);
}
#header button {
  background: none;
  border: none;
  outline: none;
  padding: 13px;
}
#header #btn-open, #header #btn-close {
  position: absolute;
  right: 0;
}

.open-menu {
  overflow: hidden;
}
.open-menu #header .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vh;
  background-color: var(--dark-1);
  z-index: 4;
}
.open-menu #header .menu {
  right: 0;
}
.open-menu #header .logo {
  right: 87px;
  width: 120px;
}

@media (min-width: 1200px) {
  .open-menu {
    overflow: initial;
  }
  .open-menu #header .overlay {
    display: none;
  }
  .open-menu #header .logo {
    right: calc(100vw - 150px);
    width: 100px;
    top: 17px;
  }

  #header {
    height: 100px;
  }
  #header .italy {
    top: 100px;
  }
  #header .logo {
    right: calc(100vw - 150px);
    width: 100px;
    top: 17px;
  }
  #header .menu {
    flex-direction: row;
    justify-content: space-between;
    background-color: initial;
    width: 100%;
    height: 100px;
    align-items: center;
    right: initial;
    position: static;
    margin-left: 150px;
    padding-bottom: 0;
  }
  #header .menu .btn-register {
    width: 200px;
    margin-right: 30px;
  }
  #header .menu nav {
    width: 100%;
  }
  #header .menu nav ul {
    flex-direction: row;
    margin-top: 0;
    justify-content: flex-start;
    align-items: center;
  }
  #header .menu nav ul li a {
    padding: 0;
    margin: 10px;
    font-size: 18px;
    min-width: 120px;
    text-align: center;
  }
  #header .menu nav ul li a.hover {
    color: var(--black);
  }
  #header .menu .footer {
    width: initial;
    justify-content: center;
  }
  #header .menu .footer hr {
    display: none;
  }
  #header #btn-open, #header #btn-close {
    display: none;
  }
}
#footer {
  width: 100%;
  min-width: 320px;
  background-color: var(--dark-0);
  position: relative;
  flex-direction: column;
  padding: var(--space);
  align-items: center;
  z-index: 3;
  color: var(--gray-0);
}
#footer button {
  position: absolute;
  right: 20px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--gray-6);
  box-shadow: var(--black-0) 0 3px 6px;
  border: none;
  justify-content: center;
  align-items: center;
  outline: none;
  top: -35px;
  z-index: 1;
  cursor: pointer;
}
#footer button:hover {
  background-color: var(--white);
}
#footer .columms {
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 100%;
}
#footer .columms .links {
  display: none;
}
#footer .columms ul {
  margin: 0;
  padding: 0;
  width: 300;
  flex-direction: column;
}
#footer .columms ul li {
  list-style: none;
  font-size: 16px;
  padding: 0.5em 0;
}
#footer .columms ul li a {
  text-decoration: none;
  padding-left: 2px;
  color: var(--gray-0);
}
#footer .columms ul li.title {
  font-weight: bold;
  font-size: 20px;
  padding: 0;
}
#footer .columms ul li.icons {
  align-items: center;
}
#footer .columms ul li.icons a {
  margin-right: 1em;
}
#footer .columms ul li.icons img {
  height: 24px;
  width: 24px;
}
#footer .columms .logo-footer {
  margin: var(--space) 0;
}

@media (min-width: 1200px) {
  #footer .columms {
    flex-direction: row;
    justify-content: space-between;
  }
  #footer .columms .links {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
  }
  #footer .columms ul li a:hover {
    color: var(--white);
  }
}

/*# sourceMappingURL=main.css.map */
